In [1]:
import pandas as pd

In [2]:
df_mothers = pd.read_csv("Births-to-Mothers.csv")

In [3]:
df_mothers.head()

     Statistic Label      Age Group County  Year    UNIT  VALUE
0  Births to Mothers  15 - 17 years  Laois  2011  Number    NaN
1  Births to Mothers  15 - 17 years  Laois  2012  Number    NaN
2  Births to Mothers  15 - 17 years  Laois  2013  Number    NaN
3  Births to Mothers  15 - 17 years  Laois  2014  Number    NaN
4  Births to Mothers  15 - 17 years  Laois  2015  Number    5.0